.headerWrapper {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #E6E6E6;
    width: 70vw;
    height: 6vh;
    border-radius: 25px;
    margin: auto;
    margin-top: 2%;
}

.headerMenu {
    display: flex;
    font-family: 'Pretendard';
    font-weight: bold;
    font-size: 1.1rem;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerMenu span {
    margin-left: 3rem;
    margin-right: 3rem;
}

.headerMenu span:hover {
    cursor: pointer;
}

.headerLine {
    border-right: 2px solid #E6E6E6;
}

.mainLoginWrapper {
    font-size: 1.1rem;
    font-family: 'Pretendard';
}

.mainLoginWrapper .loginText:hover {
    cursor: pointer;
}

.loggedHeaderWrapper span:nth-child(3) {
    padding-right: 15px;
    border-right: 1px solid #E6E6E6;
}

.loggedHeaderWrapper span:nth-child(4) {
    margin-left: 15px;
}

.headerUserName {
    color: #078675;
}

.loggedHeaderWrapper span:hover {
    cursor: pointer;
}