.myPageInfoWrapper {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2%;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    position: relative;
}

.myPageInfo {
    padding: 10px 40px;
}

.myPageInfo p {
    font-size: 2.4rem;
    font-weight: bold;
    color: #078675;
    margin-top: 10px;
}

.myPageName span:nth-child(1) {
    color: #078675;
    font-weight: bold;
    font-size: 1.8rem;
}

.myPageName span {
    font-size: 1.8rem;
}

.myPageInfo span:nth-child(3), .myPageInfo span:nth-child(4) {
    font-size: 1.8rem;
}

.myPageSchool {
    margin-top: 10%;
}

.myPageSchool p {
    color: #078675;
    font-weight: bold;
    font-size: 1.2rem;
}

.myPageSchool p span {
    color: #000;
    font-weight: 500;
}

.myPageButtonWrapper button {
    width: 10rem;
    height: 2.3rem;
    background-color: #078675;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'pretendard';
    border-radius: 7px;
    position: absolute;
    bottom: 29px;
    right: 40px;
    transition: 0.2s;
}

.myPageButtonWrapper button:hover {
    cursor: pointer;
    background-color: #067264;
}