.aiWrapper {
  width: 30%;
  height: 75vh;
  margin: auto;
  border: 2px solid #078675;
  margin-top: 3%;
}

.messageWrapper {
    overflow: scroll;
    overflow-x: hidden;
    height: 58vh;
}

.messageWrapper::-webkit-scrollbar {
    width: 12px;
  }
  
  .messageWrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .messageWrapper::-webkit-scrollbar-thumb {
    background: #078675;
  }
  
  .messageWrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.nurseMentoTitle {
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.nurseMentoTitle span {
  color: #078675;
  font-size: 2rem;
  font-weight: bold;
}

.userMessageWrapper,
.aiMessageWrapper {
    list-style: none;
}

.userMessageWrapper li {
    width: 90%;
    text-align: right;
}

.userMessageWrapper p {
    width: 90%;
    height: 100%;
    background-color: #078675;
    color: #fff;
    border-radius: 10px;
    padding: 5% 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.aiMessageWrapper li {
    width: 90%;

}

.aiMessageWrapper p {
    color: #078675;
    border: 2px solid #078675;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 5% 5%;
    display: flex;
    align-items: center;
}

.mentoInputWrapper {
    width: 90%;
    position: relative;
    border-top: 1px solid #078675;
    margin: auto;
    padding-top: 3%;
}

.mentoInputWrapper form {
    position: sticky; /* form을 상대적으로 배치하기 위해 */
    width: 100%; /* 부모 요소에 맞게 너비를 설정 */
    text-align: center; /* 폼을 수평 가운데 정렬하기 위해 */
}

.questionInput {
    width: 90%;
    height: 6vh;
    border-radius: 30px;
    border: 2px solid #078675;
    padding-left: 5%;
    font-size: 1.1rem;
    color: #078675;
    font-family: 'Pretendard';
}

.questionInput:focus {
    outline: none;
}

.questionInput::placeholder {
    color: #078675;
    font-family: 'Pretendard';
    font-size: 1.1rem;
}

.aiSendButton {
    width: 20%;
    height: 4vh;
    border-radius: 30px;
    position: absolute;
    bottom: 20%;
    right: 5%;
    border: 2px solid #078675;
    background-color: #078675;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
}

.aiSendButton:hover {
    cursor: pointer;
}