.aiWrapper {
  width: 30%;
  height: 75vh;
  margin: auto;
  border: 2px solid #078675;
  border-radius: 30px;
  margin-top: 3%;
  overflow: scroll;
  overflow-x: hidden;
}

.nurseMentoTitle {
  margin-top: 5%;
  text-align: center;
}

.nurseMentoTitle span {
  color: #078675;
  font-size: 2rem;
  font-weight: bold;
}

.userMessageWrapper,
.aiMessageWrapper {
    list-style: none;
}

.userMessageWrapper li {
    width: 90%;
}

.userMessageWrapper p {
    width: 70%;
    height: 7vh;
    background-color: #078675;
    color: #fff;
    border-radius: 10px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.aiMessageWrapper li {
    width: 90%;

}

.aiMessageWrapper p {
    color: #078675;
    border: 2px solid #078675;
    width: 70%;
    height: 7vh;
    border-radius: 10px;
    padding: 0 5%;
    display: flex;
    align-items: center;

}

.mentoInputWrapper {
    width: 90%;
}

.questionInput {
    width: 100%;
    height: 5vh;
}