.registerWrapper {
  margin-top: 6%;
  display: flex;
  justify-content: center;
}

.registrationForm {
  color: #078675;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .registrationForm p {
 
} */

.registrationForm form input {
  display: block;
  border: 1px solid #078675;
  width: 100%;
  height: 3rem;
  border-radius: 8px;
  outline: none;
  padding-left: 20px;
  font-size: 1.1rem;
}

.registrationForm label {
  display: block;
  justify-content: left;
  width: 35vw;
  font-weight: bold;
  margin-bottom: 3%;
}

.registrationForm form input::placeholder {
  color: #cecece;
  font-family: "Pretendard";
}

.termsWrapper {
  display: flex;
  align-items: center;
  margin-top: 10%;
}

.termsTextWrapper {
  width: 100%;
  border: none;
}

.registrationForm .termsBox {
  margin-left: 0;
  cursor: pointer;
  align-items: center;
}

.termsWrapper input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 5px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 1px solid #078675;
  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.termsWrapper input[type="checkbox"]:checked {
  background-color: #078675;
}

.termsWrapper span {
  font-weight: bold;
}

.termsWrapper span:nth-child(2),
.termsWrapper span:nth-child(4),
.termsWrapper span:nth-child(6),
.termsWrapper span:nth-child(8) {
  color: #000;
  font-weight: 400;
}

.registrationForm .regiSubmitButton {
  width: 104%;
  height: 5vh;
  background-color: #078675;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: "pretendard";
  font-size: 1.1rem;
  margin-top: 3%;
}

.registrationForm button:hover {
  cursor: pointer;
}

.formError {
    color: #E94439;
    font-weight: 400;
    margin-top: 10px;
    font-size: 0.9rem;
}